<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors>
            <error statusCode="403" subStatusCode="4" path="https://openpose.servehttp.com" responseMode="Redirect" />
        </httpErrors>
        <directoryBrowse enabled="true" />
        <handlers>
            <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified"/>
        </handlers>
        <aspNetCore processPath="C:\Program Files\dotnet\dotnet.exe" arguments=".\webapi.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false" />
    </system.webServer>
    <connectionStrings>
        <remove name="LocalMySqlServer" />
        <add connectionString="server=localhost;port=3306;database=openpose;user=root;password=123456;" name="LocalMySqlServer" />
    </connectionStrings>
</configuration>
